{% extends 'base.html' %}

{% block content %}

<h2 class="text-center"v >Welcome {{user}} </h2>

<div class="container p-3" style="margin-top: 3rem; max-width: 850px;">
<div class="border p-4 rounded shadow-lg">
    <table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Announcements :</th>
        </tr>
    </thead>
        <tbody>
        {% for i in news %}  
            <tr>
                <td>{{i}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Class</th>
            <th>Day</th>
            <th>1st Hour</th>
            <th>2nd Hour</th>
            <th>3rd Hour</th>
            <th>4th Hour</th>
            <th>5th Hour</th>
        </tr>
    </thead>
    <tbody>
        {% for i in schedule %}
        <tr>
            <td>{{ i.class_name }}</td>
            <td>{{ i.day }}</td>
            <td>{{ i.hour1 }}</td>
            <td>{{ i.hour2 }}</td>
            <td>{{ i.hour3 }}</td>
            <td>{{ i.hour4 }}</td>
            <td>{{ i.hour5 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Subject </th>
            <th>Staff</th>
        </tr>
    </thead>
        <tbody>
        {% for i in class_name %}  
            <tr >
                <td>{{i.subject}}</td>
                <td>{{i.teacher}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Documents :</th>
            <th>Action </th>
        </tr>
    </thead>
        <tbody>
        {% for doc in document %}  
            <tr >
                <td>{{doc}}</td>
                <td class="text-center"><a href="{{ doc.doc.url }}" download="{{ doc }}" class="btn btn-primary">Download</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}