{% extends 'base.html' %}

{% block content %}


<div class="d-flex" style="min-height: 100vh;">
    <!-- Sidebar -->
    <div class="sidebar" style="height: 100vh;">
        <img src="{{ user.profile }}" alt="Profile" class="d-block mx-auto" style="height: 90px; width: 90px; border-radius: 90%; ">
        <a href="{% url 'announcements' %}" class="btn" style="padding: 1rem;" >Create Announcement</a>
        <a href="{% url 'add_document' %}" class="btn" style="padding: 1rem;" >Add Document</a>
        <a href="{% url 'logout' %}" class="btn btn-light text-dark" >Logout</a>
  </div>
  <div class="content container ">

<h2>This is {{user}} dashboard</h2>



<div class="container p-5" style="margin-top: 3rem; max-width: 850px;">
<div class="border p-4 rounded shadow-lg">
<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Class</th>
            <th>Announcements</th>
            <th>Action</th>
        </tr>
    </thead>
        <tbody>
        {% for i in news %}  
            <tr>
                <td>{{i.class_name}}</td>
                <td>{{i}}</td>
                <td>
                <a href="{% url 'delete_announcements' i.pk%}" class="btn btn-danger">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
             <th>Class</th>
            <th>Subject</th>
            <th>Students</th>
            
        </tr>
    </thead>
        <tbody>
        {% for i in class %}    
            <tr>
                <td>{{i}}</td>
                <td>{{i.subject}}</td>
                <td>
                {% for student in i.students.all %}
                {{student.username}},
                {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
</div>

{% endblock %}