{% extends 'base.html' %}

{% block content %}


<div class="container mt-4">
    <h3>Users</h3>
    <!-- <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Username</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for data in datas %}
                {% if data.role != 'admin' %}
                    <tr>
                        <td>{{ data }}</td>
                        <td>{{ data.role }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table> -->
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Username</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for data in datas %}
            {% if data.role != 'admin' %}
            {% if data.role == 'teacher' %}
            <tr>
                <td>{{ data }}</td>
                <td>{{ data.role }}</td>
            </tr>
            {% endif %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Username</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for data in datas %}
            {% if data.role != 'admin' %}
            {% if data.role == 'student' %}
            <tr>
                <td>{{ data }}</td>
                <td>{{ data.role }}</td>
            </tr>
            {% endif %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

</div>



<div class="w-50 mx-auto">
    <a href="{% url 'create' %}" class="btn btn-success"> Add User</a>
    <a href="{% url 'delete'  %}" class="btn btn-success"> Delete User</a>
    <a href="{% url 'update_users' %}" class="btn btn-success"> Update User</a>
    <a href="{% url 'add_class' %}" class="btn btn-success"> Add class</a>
</div>
    

{% endblock %}