{% extends 'base.html' %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Submit</button>
</form>

<table border="1">
    <thead>
        <tr>
            <th>Class</th>
            <th>Day</th>
            <th>1st Hour</th>
            <th>2nd Hour</th>
            <th>3rd Hour</th>
            <th>4th Hour</th>
            <th>5th Hour</th>
        </tr>
    </thead>
    <tbody>
        {% for i in schedule %}
        <tr>
            <td>{{ i.class_name }}</td>
            <td>{{ i.day }}</td>
            <td>{{ i.hour1 }}</td>
            <td>{{ i.hour2 }}</td>
            <td>{{ i.hour3 }}</td>
            <td>{{ i.hour4 }}</td>
            <td>{{ i.hour5 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}